<!-- Sidenav -->
<!-- <app-sidebar></app-sidebar>
<div class="main-content"> -->
<!-- Top navbar -->
<!-- <app-navbar [nav_title]="admin_nav_title" [nav_value]="admin_nav_value"></app-navbar> -->
<!-- Pages -->
<!-- <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div> -->

<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>